body {
    background-image: url('https://i.pinimg.com/564x/2a/ab/0c/2aab0c57a430e64679ec1e182f6c04d5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /* black !important; */
}

