body {
    background-image: url('https://i.pinimg.com/originals/f8/0a/ac/f80aaced5b1f71438cac4d7db4e628ee.gif');
    /* background-image: url('bg.jfif'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /* black !important; */
}

